---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v1/open-close/O:SPY251219C00650000/2024-07-15?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","from":"2024-07-15","symbol":"O:SPY251219C00650000","open":16.15,"high":16.64,"low":15.61,"close":15.61,"volume":7,"afterHours":15.61,"preMarket":16.15}'
  recorded_at: Tue, 16 Jul 2024 18:52:45 GMT
recorded_with: VCR 6.2.0
