---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v2/aggs/ticker/O:SPY251219C00650000/range/1/day/2024-07-20/2024-07-21?apiKey=<API_KEY>&unadjusted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"O:SPY251219C00650000","queryCount":0,"resultsCount":0,"adjusted":true,"status":"OK","request_id":"0f587298bd64aa926d2c7f2f3a77ea39"}'
  recorded_at: Mon, 22 Jul 2024 20:49:29 GMT
recorded_with: VCR 6.2.0
